:80 {
    root * /usr/share/caddy
    encode gzip

    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
        Access-Control-Allow-Headers "Origin, Content-Type, Authorization"
        Access-Control-Allow-Credentials true
    }

    reverse_proxy /api/* backend:8080

    try_files {path} /index.html
    file_server
}
